
<div class="container-fluid text-bg-dark p-3">
  <div class="row">
    <div class="col-12"></div>
    <div class="col-2">
    </div>
    <div class="col-8 text-center "> 
      <h1><span class="badge bg-secondary mat-display-2" >Ticket Handler</span></h1>
      <button (click)="openDialog()" mat-fab color="accent" mat-raised-button>
        <mat-icon>add</mat-icon>
      </button>
      <h3><span class="badge bg-secondary mat-subheading-1">Añadir Ticket</span></h3>
    <div class="col-2">
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 ">
      <div class="row bg-secondary rounded">
        <div class="col-2 "> <h5 class="mat-subheading-1">Ticket Id:</h5> </div>
        <div class="col-5 "> <h5 class="mat-subheading-1">Desarrollador asignado</h5> </div>
        <div class="col-2 "> <h5 class="mat-subheading-1">Estado</h5></div>
        <div class="col-3 "> <h5 class="mat-subheading-1">Cambiar estado</h5> </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
  <div *ngFor="let item of tickets" class="row margin2 align-bottom ">
    <div class="col-2"></div>
    <div class="col-8 "  >
      <div  class="row  {{item.status}} rounded ">
        <div class="col-2 "> <h5  class="badge marginTop bg-secondary mat-subheading-2" matTooltip="{{item.description}}" >{{item.id}}</h5> 
          <!-- <button class="btn align-bottom bg-primary btn-secondary margin2 float-end" data-bs-toggle="tooltip" data-bs-placement="top" title="Descripcion"  ><i class="bi bi-file-earmark" ></i></button>   -->
        </div>
        <div class="col-5"> <h5 class="badge marginTop bg-secondary mat-subheading-2"> {{item.dev}} </h5> 
        </div>
        <div class="col-2"> <h5 class="badge marginTop bg-secondary mat-subheading-2"> {{item.status}} </h5>
        </div>
        <div class="col-3"> 
          <button class="margin2" mat-mini-fab color="primary" mat-raised-button
          matTooltip="Cambiar estado a Abierto" (click)="statusOpen(item.id)" aria-label="Example icon button with a delete icon">
            <mat-icon>bug_report</mat-icon>
          </button>
          <button class="margin2 bg-info" mat-mini-fab  mat-raised-button
          matTooltip="Cambiar estado a en Proceso" (click)="statusProcess(item.id)" aria-label="Example icon button with a delete icon">
            <mat-icon>build</mat-icon>
          </button>
          <button class="margin2 bg-success" mat-mini-fab  mat-raised-button
          matTooltip="Cambiar estado a Realizado" (click)="statusDone(item.id)" aria-label="Example icon button with a delete icon">
            <mat-icon>assignment_turned_in</mat-icon>
          </button>
          <button class="margin2" mat-mini-fab color="warn" mat-raised-button
          matTooltip="Cambiar estado a Rechazado" (click)="statusReject(item.id)" aria-label="Example icon button with a delete icon">
            <mat-icon>assignment_late</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>